HELP.md
.DS_Store
/dist
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.mvn
mvnw*

### Node Js###
node_modules
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?